<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceData" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:42099/ServiceData.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceData" contract="ServiceReferenceBD.IServiceData"
        name="BasicHttpBinding_IServiceData" />
    </client>
    <services>
      <service name="WebService.ServiceData" behaviorConfiguration="mexBehavior">
        <endpoint address="ServiceData" binding="basicHttpBinding" contract="WebService.IServiceData"></endpoint>
        <endpoint address="ServiceData" binding="mexTcpBinding" contract="WebService.IServiceData"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:42099"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>